


body {
  background-color: #f8f9fa;
  background-image: url(ow1.png);
  background-repeat: no-repeat;
  background-attachment:fixed ;
  background-size: 100%;
}

.info{
    background-color: #e3d9bf;
    padding : 10px;
    border-radius: 10px;
}

.navbar {
  background-color: #007bff;
}

.navbar-dark .navbar-toggler-icon {
  background-color: #fff;
}

.home-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80vh;
}

.home-text {
  text-align: center;
  font-size: 3rem;
  font-weight: bold;
  color: #007bff;
}

.page-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80vh;
  margin: 0% 10%;
}

.page-content {
  text-align: center;
}

.page-header {
  font-size: 2rem;
  font-weight: bold;
  color: #007bff;
}
