<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>About</title>
  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel = "stylesheet" href="{{ url_for('static', filename = 'styles.css')}}">

</head>
<body >

<nav class="navbar navbar-expand-lg navbar-dark">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="{{url_for('index')}}">Home</a>
        </li>

      </ul>
    </div>
  </div>
</nav>
<div class="container">
  <p><br></p>
</div>
<div class="container">
  <h2 class="page-header" style="text-align: left;">About Us</h2>
  <p style="font-size: large;">Welcome to WiseAssist, a compassionate platform dedicated to fostering connections and making a positive impact in the lives of our elderly community. At the heart of our mission is a commitment to providing assistance to both seniors and the selfless volunteers who share in our vision.</p>
<br>
<br>
</div>
<div class="container">
  <h2 class="page-header" style="text-align: left;">Our location</h2>
  <p style="font-size: large;">Currently our centers span around 6 locations in Mumbai with the main centre located in Chembur and we aim to expand it to more cities in the near future</p>
  <iframe src="https://www.google.com/maps/d/u/0/embed?mid=1wqBhuc_kz2huUSIg6zc50ZBsvl1ffxY&ehbc=2E312F&noprof=1" width="640" height="480"></iframe>
</div>
<br>
<br>
<div class="container">
  <h2 class="page-header" style="text-align: left;">Our Mission</h2>
  <p style="font-size: large;">At WiseAssist, our mission is simple yet profound. We strive to empower the elderly by facilitating volunteer opportunities in old age centers and homes. Through meaningful connections and acts of kindness, we aim to bring joy, companionship, and support to the golden years of our elders. By connecting passionate volunteers with opportunities to make a difference, we foster a community driven by empathy, respect, and a shared commitment to enriching the lives of those who have paved the way for us.</p>

</div>
<br>
<br>
<div class="container">
  <h2 class="page-header" style="text-align: left;">Making a difference</h2>
  <p style="font-size: large;"><ol>
  <li>Volunteer Opportunities:</li>
  <p>Explore our platform to discover a plethora of volunteering opportunities at various old age centers and homes. Our admins carefully curate and post meaningful roles, ensuring that volunteers can contribute their time and skills where they matter most.<br></p>
  <br>
  <li>Interactive Map</li>
  <p>Use our interactive map to locate the dedicated admins who can assist you in posting job opportunities or answer any queries you may have. We believe in fostering a transparent and open channel of communication to strengthen our community bonds.</p>
  <li>Donation Section</li>
  <p>Your contributions make a world of difference. Our donation section provides a platform for individuals to contribute to the cause. Every penny donated goes towards enhancing the lives of elderly residents in old age homes, supporting their well-being, and furthering our shared social cause.<br></p>
</ol></p>

</div>
<div class="container">
  <h2 class="page-header" style="text-align: left;">Connect With Us:</h2>
  <p style="font-size: large;"></p>Feel free to reach out to our administrators for any inquiries, job postings, or collaborations. Together, let's create a world where the elderly are celebrated, volunteers are valued, and kindness knows no bounds.<br>

  <br>Join us in our journey of compassion, connection, and community-building. Together, we can make a lasting impact on the lives of our seniors and create a brighter, more inclusive future for all.

  <p><a href="mailto:someone@example.com">Send email</a></p>
  <p><a href="tel:+23004020">Cotact Us</a></p>
</div>





<!-- Bootstrap JS and dependencies -->
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"></script>

</body>
</html>
