{% extends 'bootstrap/base.html' %}
{% import "bootstrap/wtf.html" as wtf %}


{% block styles %}

{{ super() }}
        <link rel = "stylesheet" href="{{ url_for('static', filename = 'styles.css')}}">
{% endblock %}


{% block title %}Delete{% endblock %}


{% block content %}
{% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-danger" role="alert">
                {{ message}}
            </div>
        {% endfor%}
    {% endif%}
{% endwith %}

<div class="container">
  <div class="row">
      <div class = "col-lg-6 col-md-6 col-sm-12 ">
<h2>Delete the topics you do not wish to get news about</h2>

{{ wtf.quick_form(form1) }}
      </div>
      <div class = "col-lg-6 col-md-6 col-sm-12 ">
<h2>Delete dates from your calendar</h2>
{{ wtf.quick_form(form2) }}
      </div>

      <div class = "col-lg-6 col-md-6 col-sm-12 ">
<h2 class = "delete">Delete your account</h2>
{{ wtf.quick_form(form3) }}
      </div>

    <div class = " return_button col-lg-12 col-md-12 col-sm-12 ">
<a class="btn btn-primary" href = "{{url_for('home')}}">return to home page</a>
      </div>
  </div>
</div>
{% endblock %}
